[Unit]
Description=Flask Edge Hub Server
After=multi-user.target

[Service]
Type=idle
Restart=always
ExecStart=/usr/bin/python /usr/local/bin/edgehub.py

[Install]
WantedBy=multi-user.target

